//colors
$black: #000;
$textColor: #666;
$darkGrey: #5f5f5f;
$baseColor: #989898;
$lightGrey: #b1b1b1;
$darkPlastic: #ECECEC;
$plasticColor: #F8F8F8;
$highlightColor: #FFF;
$tealColor: #00EFF1;
$amberColor:  #FFBF00;
//design elements
$gridSize: 16px;
$blockSize: 64px;
$panelSize: 416px;
$gutter: 2px;
$panel_shadow: 0px 0px 128px -32px rgba(0,0,0,.5);
$chip_shadow: 0px 1px 3px rgba(0,0,0,0.3);

//sizes

$pageMarginSml: 10px;
$pagePaddingSml: 20px;
$pageMarginLrg: 15px;
$pagePaddingLrg: 138px;




//willchange..
$cornerSml: 6px;
$cornerLrg: 12px;

$paddingSml: 2px;
$paddingMed: 4px;
$paddingLrg: 8px;
$paddingXL: 16px;
$paddingXXL:32px;
