* + .field {
  margin-top: 16px; }

.field input:not([type="submit"]), .field textarea {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 300; }

#main_nav {
  display: flex;
  justify-content: space-between;
  padding: 16px; }
  #main_nav .header_btn {
    border: 0;
    padding: 8px; }
    #main_nav .header_btn .icon {
      padding: 0; }

main {
  opacity: 1;
  padding: 16px; }

button, .btn {
  padding: 8px; }
  button .icon, .btn .icon {
    padding: 0; }

p {
  font-style: italic;
  font-weight: 400; }
